html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin-left:  30px;
    background-color: #403C3F;
}

h1{
    color: LightGrey;
    font-family: calibri;
    text-align: center;
    border: double;
    border-color: #D9C9BA;
}

h2{
    color: LightGrey;
    font-family: calibri;
    text-decoration: underline;
    margin-left: 30px;
    
}
figcaption{
    color: LightGrey;
    font-style: italic;
    font-family: calibri;
}
p
{
    color: LightGrey;
    font-family: calibri;
    width: 90%;
   
    float: left;
    
}
 aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 15%;
    border-style: solid;
    font-family: calibri;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    
    color: LightGrey;
    background-color: #731224;
   
 }
img{
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}
 article {
    margin-left: 1.5em;
    box-sizing: border-box;
    width: 75%;
    background-color: #8C203D;
    padding: 1.5em 1.5em 1.5em 1.5em;
 }
 
 li a{
     list-style-type: decimal;
     display: block;
     color: LightGrey;
     padding: 8px 16px;
     text-decoration: none;
 }
 li a:hover {
     background-color: #555;
     color: #800000;
 }


/***** opmaak navigatie*******
/*****type selector om de thml ol elementen te selecteren binnenin een nav element*/

nav ol {

    list-style-type: none;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    }
 