html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

 aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(209,222,162);
 }

 article {
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: rgb(218,247,72);
    padding: 0 0 0 1.5em;
 }

/***** opmaak navigatie*******
/*****type selector om de thml ol elementen te selecteren binnenin een nav element*/

nav ol {

    list-style-type: none;
    margin: 0;
    padding: 0;
    }
 